.container1 {
    display: flex;
    background-color: #1f2937;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    margin-left: 220px;
    margin-right: 200px;
}

li {
    margin-left: 20px;
}

h1 {
    margin-left: 200px;
    font-size: medium;
}

#firstpic {
    width: 400px;
    height: 200px;
    margin-bottom: 50px;
    margin-right: 200px;
}

.container2 {
    display: flex;
    background-color: #1f2937;
}

.container3 {
    width: 420px;
    color: white;
    margin-left: 200px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    padding: 5px 15px;
    border-color: #1f2937;
}

.pics {
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

.image-text {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 80px;
    padding-top: 40px;
}

.info {
    max-width: 150px;
}

.text {
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.quote {
    background-color: #e5e7eb;
    padding: 40px 250px;
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
}

#quote-author {
    display: flex;
    justify-content: end;
}

.container4 {
    display: flex;
    background-color: #3882f6;
    height: 100px;
    width: 800px;
    margin-left: 215px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 8px;
    color: white;
    padding-top: 50px;
    padding-left: 40px;
}

#button2 {
    max-height: 30px;
    margin-left: 50px;
    border-color: white;
}

#footer-heading {
    font-weight: bold;
}


