.container1 {
    display: flex;
    background-color: #1f2937;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    margin-left: 600px;
}

li {
    margin-left: 10px;
}

h1 {
    margin-left: 50px;
    font-size: medium;
}

#firstpic {
    width: 400px;
    height: 200px;
    display: flex;
}

.container2 {
    display: flex;
}