.container1 {
    display: flex;
    background-color: #1f2937;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    margin-left: 220px;
    margin-right: 200px;
}

li {
    margin-left: 20px;
}

h1 {
    margin-left: 200px;
    font-size: medium;
}

#firstpic {
    width: 400px;
    height: 200px;
    margin-bottom: 50px;
    margin-right: 200px;
}

.container2 {
    display: flex;
    background-color: #1f2937;
}

.container3 {
    width: 420px;
    color: white;
    margin-left: 200px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    padding: 5px 15px;
}